@page "/Category/{name}"
@using SharedMessages
@inject CatalogApiClient Api

<NavLink class="nav-link px-0" href="@Links.Catalog()">
    Catalog
</NavLink>

@if (CategoryProducts?.Category != null)
{
    <h3>@CategoryProducts.Category.Name</h3>
}
else
{
    <h3>Category</h3>
}

@if (CategoryProducts?.Products.Any() ?? false)
{
    <div class="container">
        <div class="row">
            @foreach (var product in CategoryProducts.Products)
            {
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge bg-info">@product.Id</span> @product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">Price: @product.Price</p>
                            <a href="@Links.Product(product.Id)" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No products found in this category.</p>
}

@code {
    [Parameter] public string Name { get; set; }

    public ProductManagerMessages.CategoryProducts? CategoryProducts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        CategoryProducts = await Api.GetCategoryProducts(Name);
    }

    // Build a link to the product page:
    private string BuildLinkToProduct(int productId)
    {
        return $"Product/{productId}";
    }

}