@page "/Product/{id:int}"
@using SharedMessages
@inject CatalogApiClient Api

@if (Details?.Category != null)
{
    <NavLink class="nav-link px-0" href="@Links.Category(Details.Category)">
        @Details.Category
    </NavLink>
}

@if (Details != null)
{
    <h3><span class="badge bg-info">@Details.Id</span> @Details.Name</h3>
    <p>@Details.Description</p>
    <p>Price:</p>
    <input type="text" @bind="Details.Price" />
    <button @onclick="UpdatePrice">Save</button>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public int Id { get; set; }

    public ProductManagerMessages.CatalogItem? Details { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Get the product details from the API:
        Details = await Api.GetProductDetails(Id);
    }

    // Update the price of the product:
    private async Task UpdatePrice()
    {
        if (Details != null)
        {
            await Api.UpdateProductPrice(Id, Details.Price);
        }
    }

}